In [43]:
import pandas as pd
import numpy as np

In [44]:
car=pd.read_csv("https://raw.githubusercontent.com/rajtilakls2510/car_price_predictor/master/quikr_car.csv")

In [45]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [46]:
car.shape

(892, 6)

In [47]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

# QUALITY
1. Year has many non-year values
2. Year object to int
3. Price has Ask for price we have to remove 
4. Price object into int
5. Kms_driven has kms with integers
6. Kms_driven object to int
7. Kms_driven has nan values
8. Fuel has nan values
9. Keep first three words of name

# Cleaning

In [48]:
backup=car.copy()

In [49]:
car=car[car['year'].str.isnumeric()]   #numeric value--->True       string  ---->False

In [50]:
car['year']=car['year'].astype(int)

In [51]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [52]:
car=car[car['Price']!="Ask For Price"]

In [53]:
car['Price']=car['Price'].str.replace(",","")

In [54]:
car['Price']=car['Price'].astype(int)

In [55]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [56]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [57]:
car=car[car['kms_driven'].str.isnumeric()]

In [58]:
car['kms_driven']=car['kms_driven'].astype(int)

In [59]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [60]:
car=car[~car['fuel_type'].isna()]          #nan row's is not present

In [61]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(" ")

In [62]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [63]:
car=car.reset_index(drop=True)

In [64]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [65]:
car=car[car['Price']<6e6].reset_index(drop=True)

car.to_csv('Cleaned car.csv')

## Model

In [66]:
x=car.drop(columns="Price")

In [67]:
y=car['Price']

In [68]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [69]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [70]:
ohe=OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [71]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [72]:
lr=LinearRegression()

In [73]:
pipe=make_pipeline(column_trans,lr)

In [74]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [75]:
y_pred=pipe.predict(x_test)

In [76]:
y_pred

array([ 157456.54613718,  675709.48777656,  260774.20226508,
        240526.3698923 ,  238223.74861184,  241407.855103  ,
        -34900.74321395,  296543.82060954, 1654624.77612601,
        324759.2593977 ,  261555.31530914,   10049.81279871,
        291953.05468933,  286328.36984724,  737682.40497214,
        576353.0596433 ,  809641.26777469,  394762.27168047,
       1755016.51064099,  735624.2137485 , 1106143.80112854,
        350485.3105015 ,  890595.70475732,  122391.95097946,
        424416.27118091, -112904.22291251,  380881.12890185,
        241782.25590168,  522242.91629517,  195906.86745951,
        504692.53444056,   96899.23996794, -169855.76114284,
        268901.31614377,  207027.64634044,  245781.73921244,
        258633.45246765,  286328.36984724,  201547.41068818,
        320328.91027945,  471815.89123455, -166143.96909896,
        898785.8300755 ,   19248.22637279,  367836.75219835,
        900582.29293485,   31024.04003726,  244032.32814211,
        567202.44544123,  431257.18608072,  255321.85959932,
       -185558.89851862,  162367.67802541,  400119.456064  ,
        386971.21328738,  243875.30481775,  340259.79124804,
        340259.79124804, 1493990.86029704,  928474.43400998,
         54298.46905196,  596287.26300417,  346171.9074776 ,
        737764.96354593,  234859.55332559,  257684.73009355,
         72689.96585371, 1633573.59243385,  287025.39424525,
        900582.29293485,  644790.05646901,  298405.31248094,
        287025.39424525,  776620.87859239,  433778.05125703,
        214969.56676771, -116666.79681006,  287745.41331708,
        828256.73678888,  373396.10009131,  393740.88078907,
        523754.03379925,  162367.67802541,  328013.36618391,
         91631.67200074,  634911.57766128,  299670.96939611,
        189685.66276348,  783032.53410985,  182524.77064642,
        143165.75952807,   97550.54268514,  542109.29668193,
        464490.45077141,  422036.63018316,  112641.62770814,
        219244.98668282,  782402.90181649,  199961.44618413,
        405016.7959567 ,  288635.80881307,  928382.14040005,
        153064.54628924,   -4913.9407198 ,  274249.33748285,
        518829.95848727,  748035.53973438,    4561.94620144,
        139300.25399289, 1654624.77612601,  119950.77099583,
        440620.29005578,  502744.43271402,  143669.46536276,
        245260.49586314,  798279.9224004 , -109756.0614457 ,
        298405.31248094,  554840.8540853 ,  414414.18216445,
        568334.57761942,  513648.55733392,  -49610.77982554,
        476816.25011879,  245512.72321784,  306596.9246231 ,
        204544.46040457, 1531974.29160242,  501737.02104464,
         90126.6341764 ,  399207.61729234,  305715.43941239,
        447407.34863374,  692465.97240451,  913167.67852928,
       -150350.38833317, -159061.60485126,  660998.55490209,
        453905.14600798,  367641.26092999,  406289.79636665,
        274539.15556273,  766077.59877945, -110637.5466564 ,
        299568.94108121,  351038.57522948,  271815.51196812,
        537151.62783852,  585763.17701042,  101990.43465012,
        744038.83509128, 2016065.14498858,  168128.331366  ,
        390291.73444484,  534279.43467227, 1626876.65996921,
        321454.55058174,  423117.01520503,  320085.39320038,
        277741.46540678,  143714.52895957, -102630.93210709,
        705153.26031759])

In [77]:
r2_score(y_test,y_pred)

0.7369630790252854

In [78]:
scores=[]
for i in range(1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [79]:
np.argmax(scores)

433

In [80]:
scores[np.argmax(scores)]

0.8457059006772896

In [81]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.8457059006772896

In [85]:
import pickle

In [2]:
pickle.dump(pipe,open("LinearRegressionModel.pkl",'wb'))

NameError: name 'pickle' is not defined

In [89]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],columns=['name','company','year','kms_driven','fuel_type']))

array([458894.10370545])